@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  background: url("suprachemBG.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
}

.main {
  font-family: "Inter", sans-serif;
  color: $main-color;
  padding: 1rem;
}

.container {
  margin: 0 auto;
  @media (min-width: 768px) {}
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

