@import "../../styles/variables.scss";

.navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #292933b3;

  .navbar-links a{
    margin: 0 1rem;
    padding: 0.5rem;

    &:hover {
      color: $suprachem-yellow;
    }
  }
}